.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
  padding-top: 6px;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #498eca;
  color: white;
  font-size: 24px;
}